:root {
    --color-palette-hover-background: #112240;
    --color-palette-light-background: #133040;
    --color-palette-background: #0A192F;
    --color-palette-dark-background: #071221;
    --color-palette-darker-background: #020C1B;
    --color-palette-light-turquoise: #64FFDA;
    --color-palette-dark-turquoise: #57DCC0;
    --color-palette-light-gray: #CCD6F6;
    --color-palette-gray: #8892B0;
    --color-palette-dark-gray: #495670;
    --color-palette-darker-gray: #233554;
    --delay-logo: "";
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: scale(1);
    }

    90% {
        opacity: 0;
    }
    
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes fade-in-down {
    from {
        transform: translate3d(0, -40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fade-in-right {
    from {
        transform: translate3d(-10px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fade-in-up {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.logo.non-display {
    display: none;
}

.content.non-display {
    display: none;
}

header.non-display {
    display: none;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: background-color 1s;
    background-color: var(--color-palette-darker-background);
}

.logo {
    margin: 0px auto;
    margin-top: 30vh;
    align-self: flex-start;
}

.logo button {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    font-size: 150px;
    color: var(--color-palette-light-turquoise);
    background-color: var(--color-palette-darker-background);
    border: 10px solid var(--color-palette-light-turquoise);
    transition: transform 1s;
    opacity: 0;
    animation: fade-out var(--delay-logo);
    animation-fill-mode: both;
}

body::-webkit-scrollbar {
    --webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 8px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-palette-dark-gray);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

header {
    background: var(--color-palette-background);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 5px var(--color-palette-dark-background);
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: both;
}

.main-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    margin: 15px;
    color: var(--color-palette-light-turquoise);
    background-color: var(--color-palette-background);
    border: 3px solid var(--color-palette-light-turquoise);
    transition: transform 1s;
    opacity: 0;
    animation: fade-in 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.main-button:hover {
    background-color: var(--color-palette-light-background);
    transform: scale(1.1);
}

nav {
    float: right;
    padding: 10px;
    padding-right: 50px;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: var(--color-palette-light-gray);
    text-decoration: none;
}

nav ul li a p {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

nav ul li a:hover {
    transition: color 500ms;
    color: var(--color-palette-dark-turquoise);
}

.nav-about {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.nav-experience {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

.nav-work {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}

.nav-contact {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 300px auto;
}

.presentation {
    transition: opacity 1s;
}

.presentation h1 {
    color: var(--color-palette-dark-turquoise);
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 3px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.presentation h2 {
    color: var(--color-palette-light-gray);
    font-size: 60px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.2s;
    animation-fill-mode: both;
}

.presentation h3 {
    color: var(--color-palette-gray);
    font-size: 60px;
    margin-bottom: 25px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.4s;
    animation-fill-mode: both;
}

.presentation p {
    color: var(--color-palette-gray);
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 50px;
    padding-left: 4px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.6s;
    animation-fill-mode: both;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    padding-left: 100px;
    padding-top: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.about img {
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    transition: transform 1s;
}

.about .about-init {
    display: flex;
    align-items: center;
}

.about div h1 {
    display: inline;
    color: var(--color-palette-light-gray);
}

.about div h2 {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.about p {
    margin-top: 50px;
    max-width: 600px;
    color: var(--color-palette-gray);
    margin-bottom: 50px;
}

.separator {
    display: inline-block;
    align-self: center;
    margin-left: 30px;
    width: 350px;
    border: 1px solid var(--color-palette-darker-gray);
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.experience .experience-init {
    display: flex;
    align-items: center;
}

.experience-init h1 {
    display: inline;
    color: var(--color-palette-light-gray);
}

.experience-init h2 {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.experience-list {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.experience-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-button {
    width: 140px;
    height: 40px;
    background-color: var(--color-palette-background);
    color: var(--color-palette-gray);
    border: 0px;
    border-left: 2px solid var(--color-palette-darker-gray);
    text-align: start;
    padding-left: 20px;
    transition: background-color 300ms, color 300ms, border-left-color 300ms;
}

.experience-button:hover {
    background-color: var(--color-palette-hover-background);
    color: var(--color-palette-dark-turquoise);
}

.experience-button.clicked {
    background-color: var(--color-palette-hover-background);
    color: var(--color-palette-dark-turquoise);
    border-left-color: var(--color-palette-light-turquoise);
}

.experience-description-section {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    animation: fade-in 1s;
}

.experience-description-section.non-display {
    display: none;
}

.experience-description-section .title {
    display: flex;
    flex-direction: row;
}

.experience-description-section .title h1 {
    color: var(--color-palette-light-gray);
    font-size: 18px;
}

.experience-description-section p {
    color: var(--color-palette-gray);
    font-size: 18px;
}

.experience-description-section .title a {
    transition: text-decoration 300ms;
}

.experience-description-section .title a:link {
    text-decoration: none;
}

.experience-description-section .title a:visited {
    text-decoration: none;
}

.experience-description-section .title a:hover {
    text-decoration: underline var(--color-palette-dark-turquoise);
}

.experience-description-section .title a:focus {
    text-decoration: underline var(--color-palette-dark-turquoise);
}

.experience-description-section .title a:active {
    text-decoration: underline var(--color-palette-dark-turquoise);
}


.experience-description-section .title h2 {
    color: var(--color-palette-dark-turquoise);
    font-size: 18px;
}

.experience-description-section h3 {
    margin-top: 10px;
    color: var(--color-palette-gray);
    font-size: 15px;
}

.experience-description-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.experience-element {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience-element i {
    align-self: center;
    color: var(--color-palette-dark-turquoise);
}

.experience-element p{
    align-self: center;
    color: var(--color-palette-gray);
    margin-left: 20px;
    animation: fade-in-right 1s;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.work .work-init {
    display: flex;
    align-items: center;
}

.work-init h1 {
    display: inline;
    color: var(--color-palette-light-gray);
}

.work-init h2 {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.work p {
    margin-top: 50px;
    max-width: 1000px;
    color: var(--color-palette-gray);
    margin-bottom: 50px;
}

.work-all {
    display: flex;
    flex-direction: column;
}

.work-row {
    display: flex;
    flex-direction: row;
}

.work-item {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--color-palette-hover-background);
    transition: transform 500ms;
}

.work-item:hover {
    transform: translate3d(0, -15px, 0);
}

.work-folder {
    color: var(--color-palette-light-turquoise);
    margin-left: 30px;
    margin-top: 30px;
}

.work-icon {
    color: var(--color-palette-gray);
    position: absolute;
    top: 40px;
    right: 30px;
    transition: color 200ms;
}

.work-icon:hover {
    color: var(--color-palette-light-turquoise);
}

.work-item h1 {
    display: block;
    color: var(--color-palette-light-gray);
    font-size: 18px;
    padding: 15px 30px;
    padding-top: 50px;
}

.work-item h2 {
    display: block;
    color: var(--color-palette-gray);
    font-size: 14px;
    padding: 0px 30px;
}

.work-tags-container {
    position: absolute;
    bottom: 40px;
}

.work-tags {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.work-tags p{
    font-size: 12px;
    padding-right: 18px;
    text-align: justify;
    margin-bottom: 0;
}

.contact {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px auto;
    padding-top: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.contact-init {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-init-insides{
    align-self: flex-start;
    margin: 0 auto;
}

.contact-init h1 {
    display: inline;
    font-size: 15px;
    color: var(--color-palette-dark-turquoise);
}

.contact-init h2 {
    display: inline;
    font-size: 15px;
    color: var(--color-palette-light-turquoise);
}

.contact-all h1 {
    color: var(--color-palette-light-gray);
    font-size: 50px;
    align-self: flex-start;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.contact-all p {
    align-self: flex-start;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
    color: var(--color-palette-gray);
    margin-bottom: 50px;
    text-align: center;
}
.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-icon {
    margin-top: 50px;
    color: var(--color-palette-gray);
    transition: transform 200ms, color 200ms;
}

.contact-icon:hover {
    transform: scale(1.2);
    color: var(--color-palette-light-gray);
}