:root {
    --color-palette-light-background: #133040;
    --color-palette-background: #0A192F;
    --color-palette-dark-background: #071221;
    --color-palette-darker-background: #020C1B;
    --color-palette-light-turquoise: #64FFDA;
    --color-palette-dark-turquoise: #57DCC0;
    --color-palette-light-gray: #CCD6F6;
    --color-palette-gray: #8892B0;
    --color-palette-dark-gray: #495670;
    --color-palette-darker-gray: #233554;
    --delay-logo: "";
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    0% {
      opacity: 0;
    }
    10% {
        opacity: 0;
      }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in-down {
    from {
        transform: translate3d(0,-40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fade-in-up {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.non-display {
    display: none;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: background-color 1s;
    background-color: var(--color-palette-darker-background);
}

.logo {
    margin: 0px auto;
    margin-top: 15%;
    align-self: flex-start;
}

.logo button{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    font-size: 150px;
    color: var(--color-palette-light-turquoise);
    background-color: var(--color-palette-darker-background);
    border: 10px solid var(--color-palette-light-turquoise); 
    transition: transform 1s;
    opacity: 0;
    animation: fade-out var(--delay-logo);
    animation-fill-mode: both;
}

body::-webkit-scrollbar {
    --webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:8px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-palette-dark-gray);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

header {
    background: var(--color-palette-background);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 5px var(--color-palette-dark-background);
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: both;
}

.main-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    margin: 15px;
    color: var(--color-palette-light-turquoise);
    background-color: var(--color-palette-background);
    border: 3px solid var(--color-palette-light-turquoise); 
    transition: transform 1s;
    opacity: 0;
    animation: fade-in 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.main-button:hover {
    background-color: var(--color-palette-light-background);
    transform: scale(1.1);
}

nav {
    float: right;
    padding: 10px;
    padding-right: 50px;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: var(--color-palette-light-gray);
    text-decoration: none;
}

nav ul li a p {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

nav ul li a:hover {
    transition: color 500ms;
    color: var(--color-palette-dark-turquoise);
}

.nav-about {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.nav-experience {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

.nav-work {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}

.nav-contact {
    opacity: 0;
    animation: fade-in-down 1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

.content {
    margin: 300px auto;
}

.presentation
{
    transition: opacity 1s;
}

.presentation h1 {
    color: var(--color-palette-dark-turquoise);
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 3px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.presentation h2 {
    color: var(--color-palette-light-gray);
    font-size: 60px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.2s;
    animation-fill-mode: both;
}

.presentation h3 {
    color: var(--color-palette-gray);
    font-size: 60px;
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.4s;
    animation-fill-mode: both;
}

.presentation p {
    color: var(--color-palette-gray);
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 50px;
    padding-left: 4px;
    opacity: 0;
    animation: fade-in-up 1s;
    animation-delay: 2.6s;
    animation-fill-mode: both;
}

.about {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    padding-top: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.about img {
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    transition: transform 1s;
}

.about .about-init {
    display: flex;
    align-items: center;
}

.about div h1 {
    display: inline;
    color: var(--color-palette-light-gray);
}

.about div h2 {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.about p {
    margin-top: 50px;
    max-width: 600px;
    color: var(--color-palette-light-turquoise);
}

.separator{
    display: inline-block;
    align-self: center;
    margin-left: 30px;
    width: 350px;
    border: 1px solid var(--color-palette-darker-gray);
}